body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container{
  width: 80%;
  margin: 0 auto;
}

.navbar {
  background-color: green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  border-radius: 8px;
}

.navbar .logo {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-list li {
  margin-right: 20px;
}

.nav-list li:last-child {
  margin-right: 0;
}

.nav-list li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
}

@media (max-width: 768px) {
  .nav-list {
      display: none;
      flex-direction: column;
  }

  .navbar .logo {
      margin: 0;
  }

  .menu-toggle {
      display: flex;
  }
}
